* {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: url(./img/little-red-riding-hood-g6027d094a_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica, sans-serif;
  margin: 0px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 8px;
  width: 150px;
  margin-left: 25px;
}

p {
  line-height: 30px;
  padding: 10px;
  visibility: hidden;
  font-family: sans-serif;
  color: white;
}

h1 {
  padding: 12px;
  color: white;
}

/* nav */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px;
  color: white;
}

.nav__ul {
  position: fixed;
  display: flex;
}

.nav__li {
  list-style: none;
  padding: 8px 50px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.nav__li:hover {
  border-color: white;
  background-color: darksalmon;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

button:hover {
  background-color: darkgray;
}

/* home */
.container {
  padding: 40px;
  padding-top: 120px;
  color: white;
}

.radio {
  margin: 30px 10px;
}
